h1,h2{
  text-align: center;
}

#main_menu{
  margin: 0 auto;
  text-align: center;

  width: 50%;
}

#menu_button {
  font-size: 200%;
}

#menu_button:hover{
}

#pause_button{
  text-align: center;
  margin: 0 auto;
}

#game_page {
  display: none;
  margin: 0 auto;
  text-align: center;
}

#HVA{
  display:none;
}

#testResults {
  display: none;
  text-align: center;
  font-size: 36px;
}

#results_page {
  margin: 0 auto;
  text-align: center;
}

.game_grid button {
  font-size:   36px;
  border-width: 0px;

  width: 100px;
  height: 100px;
  margin: 0px 0px;
}

.game_grid button:disabled {
  font-size: 36px;
  width: 100px;
  height: 100px;
}

/* Styling that makes the gameboard look nice */

#first{
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 5px;

  border-right-color: black;
  border-right-style: solid;
  border-right-width: 5px;
}

#second{
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 5px;

  border-right-color: black;
  border-right-style: solid;
  border-right-width: 5px;

  margin-left: -.75%;
}

#third{
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 5px;

  margin-left: -.75%;
}

#fourth{
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 5px;

  border-right-color: black;
  border-right-style: solid;
  border-right-width: 5px;
}

#fifth{
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 5px;

  border-right-color: black;
  border-right-style: solid;
  border-right-width: 5px;

  margin-left: -.75%;
}

#sixth{
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 5px;

  margin-left: -.75%;
}

#seventh{
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 5px;
}

#eighth{
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 5px;

  margin-left: -.75%;
}

#ninth{
  margin-left: -.75%;
}
